

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div style="text-align: center">
                <h1>Login to MY Portal</h1>
            </div>
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Email:</label>
                        <input required type="email" [(ngModel)]="user.email"
                            name="email" id="email"
                            class="form-control phone" maxlength="28"
                            placeholder="Enter your Email..." #email="ngModel"
                            [email]="user.email!==''">

                        <span class="help-block"
                            *ngIf="email.errors?.required && email.touched">*Email
                            is Required</span>
                        <span class="help-block"
                            *ngIf="email.errors?.email && email.touched ">*Email
                            is invalid</span>
                    </div>

                    <div class="form-group">
                        <label for="lastname"><span class="req">* </span>
                            Password : </label>
                        <input class="form-control" type="password"
                            [(ngModel)]="user.password" name="password"
                            id="password"
                            placeholder="Enter your password" required
                            #password="ngModel">
                        <span class="help-block"
                            *ngIf="password.invalid && password.touched">
                            Password is required</span>
                        <div id="errLast"></div>
                    </div>
                    <div class="form-group">
                        <button mat-raised-button color="primary"
                            [disabled]="!(!email.errors?.email && !password.invalid)"
                            (click)="loginNow()">Login</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/register">Dont have an account?</a>
                    </div>
                </fieldset>
            </form>

        </div>

    </div>
</div>