

mat-dialog-title{
  text-align: center;  
}

 mat-dialog-content {
    justify-content: center;
    min-width: 300px;
    color: black;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
    margin-top: 10px;
  }

  .modal-content {
    word-break: break-all; /* Break words to the next line if there is no space */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
  }
